spring:
  profiles:
    active: dev
  application:
    name: consumers-user
  main:
    allow-bean-definition-overriding: true
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  cloud:
    nacos:
      discovery:
        server-addr: 47.106.81.186:8848

server:
  port: 9003

