<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiayu.springboot_demo.mapper.TestUserRootMapper">


    <insert id="insert" parameterType="com.xiayu.springboot_demo.domain.TestUserRootPo">
        <!--@mbg.generated-->
        insert into `test_user_root` (
        id,
        name,
        type,
        root)
        values
        (#{id,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{type,jdbcType=INTEGER},
        #{root,jdbcType=INTEGER}
       )
    </insert>
</mapper>