<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="batchInsert" value="true" />
        <option name="commonMapperBaseClass" value="tk.mybatis.mapper.MyMapper" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.xiayu.provider.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/provider/provider-user/src/main/java" />
        <option name="javaModelPackage" value="com.xiayu.provider.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/provider/provider-user/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="private-user" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="Template">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.xiayu.oauth.mapper" />
                  <option name="javaMapperPath" value="D:\IDEA_work3\Template\oauth\src\main\java" />
                  <option name="javaModelPacakge" value="com.xiayu.oauth.domain" />
                  <option name="javaModelPath" value="D:\IDEA_work3\Template\oauth\src\main\java" />
                  <option name="javaServiceInterfacePackage" value="com.xiayu.oauth.service" />
                  <option name="javaServiceInterfacePath" value="D:\IDEA_work3\Template\oauth\src\main\java" />
                  <option name="javaServicePackage" value="com.xiayu.oauth.service.impl" />
                  <option name="javaServicePath" value="D:\IDEA_work3\Template\oauth\src\main\java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="D:\IDEA_work3\Template\oauth\src\main\resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="private-user">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.xiayu.provider.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/provider/provider-user/src/main/java" />
                  <option name="javaModelPacakge" value="com.xiayu.provider.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/provider/provider-user/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.xiayu.oauth.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/provider/provider-user/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/provider/provider-user/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="p3CComment" value="true" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="template_oauth:tb_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbUser" />
                  <option name="moduleName" value="Template" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="template_user:test_user">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TestUser" />
                  <option name="moduleName" value="private-user" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateBatch" value="true" />
        <option name="updateBatchSelective" value="true" />
        <option name="useSwagger" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/provider/provider-user/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>